<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over">
    <mat-selection-list #menus [multiple]="false" color="accent">
      <mat-list-option value="home" routerLink="home" routerLinkActive="active" color="accent">
        <mat-icon mat-list-icon>home</mat-icon>
        <div mat-line>Country Data</div>
      </mat-list-option>
      <mat-list-option value="state" routerLink="states" routerLinkActive="active" color="accent">
        <mat-icon mat-list-icon>list</mat-icon>
        <div mat-line>State Data</div>
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content>
    <p class="w-100 m-0">
      <mat-toolbar color="accent">
        <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Covid Stats</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>dark_mode</mat-icon>
        </button>
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button> -->
      </mat-toolbar>
    </p>
    <div class="m-0 p-1 w-100">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>