/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin        : 0;
    font-family   : 'archiaregular';
    font-size     : 1rem;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
}


// Application
.delta {
    font-size      : 80%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 14px;
    font-weight    : bold;

    .mat-icon {
        height   : 14px;
        width    : 14px;
        font-size: 14px;
    }
}

.kpi-container {
    max-width     : 550px;
    margin        : 0 auto;
    padding-top   : 10px;
    padding-bottom: 10px;

    >div:not(.active-container)>div {
        transition: all linear 0.2s;

        &:not(:hover):not(.active-status) {
            // filter: brightness(0.5);
            background-color: transparent;
        }
    }
}

.dist-data {
    width              : 280px;
    // margin-right    : 1rem;
    margin-bottom      : 1rem;
    padding            : 0.5rem 1rem;
    background-color   : #f7f9f999;
    border-radius      : 5px;
    box-shadow         : 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

    .dist-title {
        padding      : 2px 4px;
        border-radius: 3px;
    }

    >div {
        font-size: 14px;
    }

    >div:not(:first-child) {
        font-size    : 13px;
        border-radius: 3px;
        // margin-top: 5px;

        &:not(.active-text) {
            padding: 4px;
        }

        >span {
            width: 100px;
        }

        .material-icons.mat-icon {
            font-size: 16px;
            height   : 16px;
            width    : 16px;
        }
    }
}


// Utility
.sticky {
    position: sticky;
}

.ellipsis {
    width        : 100%;
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
}

.d-flex {
    display: flex;
}

.d-i-flex {
    display: inline-flex;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.center {
    margin: 0 auto;
}

.w-50 {
    width: 50%;
}

.w-33 {
    width: 33%;
}

.w-66 {
    width: 66%;
}

.w-100 {
    width: 100%;
}

.br-5 {
    border-radius: 5px;
}

.bold {
    font-weight: 600;
}

.text-center {
    text-align: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.c-p {
    cursor: pointer;
}

.m-0 {
    margin: 0px !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.ml-0 {
    margin-left: 0px !important;
}

.mr-0 {
    margin-right: 0px !important;
}

.m-1 {
    margin: 1rem !important;
}

.mt-1 {
    margin-top: 1rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.ml-1 {
    margin-left: 1rem !important;
}

.mr-1 {
    margin-right: 1rem !important;
}


.p-0 {
    padding: 0px !important;
}

.pt-0 {
    padding-top: 0px !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.pr-0 {
    padding-right: 0px !important;
}

.p-1 {
    padding: 1rem !important;
}

.pt-1 {
    padding-top: 1rem !important;
}

.pb-1 {
    padding-bottom: 1rem !important;
}

.pl-1 {
    padding-left: 1rem !important;
}

.pr-1 {
    padding-right: 1rem !important;
}

.pos-rel {
    position: relative;
}

// Active Color
.active-text {
    color: rgba(0, 123, 255, 1);
}

.active-text-light {
    color: rgba(0, 123, 255, .6);
}

.active-bg-light {
    background: rgba(0, 123, 255, .1627451);
}

.active-bg {
    background: rgba(0, 123, 255, 0.18);
}

// Confirmed Color
.confirmed-text {
    color: rgba(255, 99, 132, 1);
}

.confirmed-text-light {
    color: rgba(255, 99, 132, .6);
}

.confirmed-bg-light {
    background: rgba(255, 99, 132, .1627451);
}

.confirmed-bg {
    background: rgba(255, 99, 132, 0.18);
}

// Recovered Color
.recovered-text {
    color: rgba(75, 192, 192, 1);
}

.recovered-text-light {
    color: rgba(75, 192, 192, .6);
}

.recovered-bg-light {
    background: rgba(75, 192, 192, .1627451);
}

.recovered-bg {
    background: rgba(75, 192, 192, 0.18);
}

// Deceased Color
.deceased-text {
    // color: rgba(201, 203, 207, 1);
    color: rgba(173, 173, 175, 1);
}

.deceased-text-light {
    color: rgba(173, 173, 175, .6);
}

.deceased-bg-light {
    background: rgba(201, 203, 207, .1627451);
}

.deceased-bg {
    background: rgba(201, 203, 207, 0.18);
}

// Active Color
.info-text {
    color: rgba(153, 102, 255, .866667); //#9673b9
}

.info-text-light {
    color: rgba(153, 102, 255, .6);
}

.info-bg-light {
    background: rgba(153, 102, 255, .0627451);
}

.info-bg {
    background: rgba(153, 102, 255, 0.18);
}

// Vaccine
.vaccine-text {
    color: #fd7e14; //#9673b9
}

.vaccine-text-light {
    color: rgba(255, 193, 7, .6);
}

.vaccine-bg-light {
    background: rgba(255, 193, 7, .127451);
}

.vaccine-bg {
    background: rgba(255, 193, 7, 0.18);
}


// Material
.mat-drawer-container {
    background-color: #fff;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-drawer-inner-container {
    width: 200px !important;
}

table.mat-table {
    width      : 100%;
    font-family: 'archiaregular';

    td {
        color     : #6c757d;
        text-align: center;
        font-size : 1rem;

        &.mat-cell:first-of-type {
            font-weight: 600;
            text-align : left;
        }
    }

    th.mat-header-cell {
        font-weight: 600;
        text-align : center;
        box-shadow : 2px 3px 2px rgb(0 0 0 / 12%);
        font-size  : 16px;

        &:not(:first-of-type) .mat-sort-header-container {
            justify-content: center;
        }
    }
}

tr.mat-footer-row {
    font-weight: bold;

    td {
        color     : #000;
        box-shadow: 2px -3px 2px rgb(0 0 0 / 12%);
    }
}

tfoot td.mat-table-sticky {
    border-top: 1px solid #e0e0e0;
}

mat-list-option.active {
    background-color: #3f51b5 !important;
    color           : #fff !important;
}


// Components
app-country-data {
    display       : flex;
    flex-direction: column;
}

.pie-chart-holder:not(:last-child) {
    padding-right: 10px;
}

.chart-title {
    font-weight  : bold;
    margin-bottom: 10px;
    text-align   : center;
}

.monthly-chart {
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    max-width : 350px;
    margin    : 0px auto;
    background: rgba(255, 99, 132, 0.05);
}

.active-status {
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.other-info {
    font-size : 12px !important;
    margin-top: 5px;
}


// Dark Mode
.mat-drawer-container {
    &.darkMode {
        background-color: rgba(0, 0, 0, .8);

        .mat-expansion-panel {
            color     : rgba(255, 255, 255, .87);
            background: rgba(0, 0, 0, .87);

            .mat-expansion-panel-header {
                background-color: rgba(0, 0, 0, 0.04) !important;
            }

            .mat-expansion-panel-header-title,
            .mat-expansion-indicator::after {
                color: rgba(255, 255, 255, .87);
            }
        }

        .dist-data,
        .kpi-container {
            background   : rgba(0, 0, 0, .87);
            border-radius: 5px;
        }

        mat-form-field {
            .mat-form-field-flex {
                background  : rgba(0, 0, 0, .87);
                color       : #fff;
                padding-left: 10px;

                .mat-select-value,
                .mat-select-arrow {
                    color: rgba(255, 255, 255, .87);
                }

                .mat-form-field-label {
                    color: rgba(255, 255, 255, .5);
                }
            }

            .mat-form-field-appearance-fill .mat-form-field-underline::before,
            .mat-form-field-appearance-fill .mat-form-field-underline::before,
            .mat-form-field-underline,
            &.mat-form-field.mat-focused .mat-form-field-ripple {
                background-color: rgba(255, 255, 25, .42);
            }
        }

        app-pie-chart svg circle:first-child {
            fill: rgba(255, 99, 128, 0.9);
        }

        .active-status {
            position: relative;

            &::after {
                content         : '';
                position        : absolute;
                top             : 0;
                bottom          : 0;
                left            : 0;
                right           : 0;
                background-color: #fff;
                z-index         : -1;
            }

            &.active-bg {
                background: rgba(0, 123, 255, 0.2);
            }
        }

        .active-bg-light {
            background: rgba(0, 123, 255, 0.1627451);
        }

        .mat-table {
            background-color: #000;

            .mat-header-cell {
                color: rgba(255, 255, 255, 0.54)
            }
        }

        .info-bg-light {
            background: rgba(153, 102, 255, .1627451);
        }
    }
}

@media only screen and (max-width: 500px) {
    body {

        // Application
        .mat-drawer-content>*:not(.pt-0) {
            padding    : 0px !important;
            padding-top: 10px !important;
        }

        app-country-data mat-form-field {
            padding-left : 5px;
            padding-right: 5px;
        }

        .state-data-container {
            padding-left : 5px !important;
            padding-right: 5px !important;
        }

        .mat-expansion-panel-body {
            >.d-flex {
                flex-direction: column;
            }
        }

        .chart-container {
            width: 100% !important;
        }

        .dist-data {
            margin-right: 0px !important;
        }

        .dist-container {
            justify-content: space-around;
        }

        // Material
        th.mat-header-cell:first-of-type,
        td.mat-cell:first-of-type,
        td.mat-footer-cell:first-of-type {
            padding-left: 5px !important;
        }

        th.mat-header-cell:last-of-type,
        td.mat-cell:last-of-type,
        td.mat-footer-cell:last-of-type {
            padding-right: 0px !important;
        }

        table.mat-table td,
        th.mat-header-cell {
            font-size: 12px !important;
        }

        tr.mat-row,
        tr.mat-footer-row {
            min-height: 32px;
        }

        .w-50,
        .w-33,
        .w-66 {
            width       : 100% !important;
            padding-left: 0px !important;
        }

        font-size: 0.7rem;
    }
}

// @media (hover: none) .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
//     background: #fff;
// }