<div class="state-data-container pl-1 pr-1">
    <div class="d-flex flex-wrap flex-row">
        <div class="w-50 mb-1">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>States</mat-label>
                <mat-select [(ngModel)]="selectedState" name="states" (selectionChange)="getStateData($event)">
                    <mat-option *ngFor="let state of states" [value]="state.code">
                        {{state.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- <button (click)="selectedDelta = 'delta-recovered'; getStateData();">Recovered</button> -->
        <div class="w-50 pl-1 mb-1">
            <div class="text-center d-flex flex-row justify-around kpi-container">
                <div class="active-container br-5 p-1"
                    [ngClass]="selectedDelta === 'delta-active' ? 'active-bg' : 'active-bg-light'">
                    <span class="delta active-text-light"><mat-icon>arrow_upward</mat-icon> 20</span>
                    <div class="total active-text">123456</div>
                </div>
                <div class="confirmed-container br-5 p-1 c-p" 
                    [ngClass]="selectedDelta === 'delta-confirmed' ? 'confirmed-bg' : 'confirmed-bg-light'"
                    (click)="selectedDelta = 'delta-confirmed'; selectedTotal = 'total-confirmed'; getStateData();">
                    <span class="delta confirmed-text-light"><mat-icon>arrow_upward</mat-icon> 20</span>
                    <div class="total confirmed-text">123456</div>
                </div>
                <div class="recovered-container br-5 p-1 c-p"
                    [ngClass]="selectedDelta === 'delta-recovered' ? 'recovered-bg' : 'recovered-bg-light'"
                    (click)="selectedDelta = 'delta-recovered'; selectedTotal = 'total-recovered'; getStateData();">
                    <span class="delta recovered-text-light"><mat-icon>arrow_upward</mat-icon> 20</span>
                    <div class="total recovered-text">123456</div>
                </div>
                <div class="deceased-container br-5 p-1 c-p"
                    [ngClass]="selectedDelta === 'delta-deceased' ? 'deceased-bg' : 'deceased-bg-light'"
                    (click)="selectedDelta = 'delta-deceased'; selectedTotal = 'total-deceased'; getStateData();">
                    <span class="delta deceased-text-light"><mat-icon>arrow_upward</mat-icon> 20</span>
                    <div class="total deceased-text">123456</div>
                </div>
            </div>
        </div>
        <div class="chart-container w-50 text-center">
            <app-chart 
                [chartType]="'bar'"
                [chartLabels]='deltaChartLabels'
                [chartOptions]='deltaChartOptions'
                [chartData]='deltaChartData'
                [showLegend]='chartLegend'
            ></app-chart>
        </div>
        <div class="chart-container pl-1 w-50 text-center">
            <app-chart 
                [chartType]="'line'"
                [chartLabels]='totalChartLabels'
                [chartOptions]='totalChartOptions'
                [chartData]='totalChartData'
                [showLegend]='chartLegend'
            ></app-chart>
        </div>
    </div>
</div>